* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #D9AFD9;
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: 307px;
    height: 500px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    background: #747373;
    overflow: hidden;
}

form input {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 10px;
    font-size: 2.2rem;
    padding: 1rem;
    color: #fff;
    background-color: #aeadad;
    outline: none;
    text-align: right;
    pointer-events: none;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

button {
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px solid #000;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.btn-dark {
    background-color: #8215aa;
    color: #fff;
}

.btn-light {
    background-color: #fff;
    color: #7e2fa0;
    /* #af5cd3 */
}

.btn-equal, 
.btn-clear {
    background-color: #C850C0;
    color: #fff;
}